<div class="app-home text-center">
  <div class="app-home-intro">
    <i class="fa fa-book fa-5x"></i>
    <br>
    <span class="title">Like a book?</span>
    <p>
      If it's still available,<br>
      you've got a match!
    </p>
  </div>

  <a href="/auth/openbibid" class="btn btn-default" type="submit">Login with OpenBIB-ID</a>
</div>
