<div id="app-swipe">
  <nav class="navbar navbar-default navbar-<%= @page %>">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <%= @title || 'Book.y' %>
        </a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="text-center">
    <div class="app-home-intro">
      <%= image_tag "hero.png", class: 'hero-image' %>
      <br>
      <span class="title">Like a book?</span>
      <p>
        If it's still available,<br>
        you've got a match!
      </p>
    </div>

    <a href="/auth/openbibid" class="btn btn-default btn-login" type="submit">Login with OpenBIB-ID</a>
  </div>
</div>
