<div class="app-matches">
  <h1>Matches</h1>
  <ul>
    <li>
      <i class="fa fa-book"></i>
      Fifty Shades of Grey
    </li>
    <li>
      <i class="fa fa-book"></i>
      Fifty Shades of Grey
    </li>
    <li>
      <i class="fa fa-book"></i>
      Fifty Shades of Grey
    </li>
  </ul>
</div>
