  <ul>
    <li>
      <i class="fa fa-book"></i>
      Fifty Shades of Grey
    </li>
    <li class="available">
      <i class="fa fa-book"></i>
      Pruple Cow
    </li>
    <li>
      <i class="fa fa-book"></i>
      Fifty Shades of Grey
    </li>
    <li>
      <i class="fa fa-book"></i>
      Ruby on Rails
    </li>
    <li>
      <i class="fa fa-book"></i>
      CSS for Dummies
    </li>
  </ul>
