// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#app-matches {
  position: absolute;
  height: 100%;
  background: white;
  width: 100%;
  top: 0;
  left: 100%;
  z-index: 9;
  overflow: scroll;

  h1 {
    display: block;
    border-bottom: 1px solid #ddd;
    height: 51px;
    font-size: 18px;
    margin: 0px;
    padding: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
  }

  li {
    padding-top: 16px;
    padding-bottom: 8px;
    color: #333;
    font-size: 13px;
    font-family: 'open sans';

    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    .fa {
      color: #ccc;
      margin-left: 15px;
      margin-right: 10px;
      font-size: 16px;
    }
  }

  li.available {
    .fa {
      color: #48CF83;
    }
  }

  p {
    color: #333;
    padding: 20px;
  }
}
