<div class="app-swipe">
  <nav class="navbar navbar-default navbar-<%= @page %>">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <%= @title || 'Book.y' %>
        </a>
        <a class="btn btn-default navbar-btn navbar-btn-matches" href="javascript:toggleMatches()">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bookmark-o"></i>
        </a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <img src="http://webservices.bibliotheek.be/index.php?func=cover&ISBN=<%= @isbn %>&coversize=large" >

  <a href="" class="btn btn-primary btn-not"><span class="fa fa-times"></span></a>.
  <a href="" class="btn btn-primary btn-yes"><span class="fa fa-check"></span></a>
</div>
